<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título</title>
    <link rel="stylesheet/less" type="text/css" href="exercicio.less" />
</head>
<body>
    <div class="container">
        <h1>Exercicio 01</h1>
        <h2>Praticando com LESS</h2>
        <div class="box-divisiorias">
            <div class="box-divisioria-um">
                <p>
                    <b>Paragráfo Div 1</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nulla a sapien consectetur imperdiet vel at dolor. 
                    Curabitur in aliquet tortor. Nunc et nibh congue, tincidunt odio ut, aliquam velit. Mauris at mollis libero, at tincidunt eros. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc non nunc eros. 
                    Fusce quis euismod arcu. Suspendisse potenti. Aenean enim lacus, rhoncus ut blandit nec, gravida at lacus. 
                    Nunc quis turpis ut nibh molestie vulputate. Integer vitae ligula in mauris varius dignissim ut ut tellus. 
                    Aliquam erat volutpat. Donec ut elit feugiat sem suscipit posuere a ut ex.
                </p>
            </div>
            
            <div class="box-divisioria-dois">
                <p>
                    <b>Paragráfo Div 2</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nulla a sapien consectetur imperdiet vel at dolor. 
                    Curabitur in aliquet tortor. Nunc et nibh congue, tincidunt odio ut, aliquam velit. Mauris at mollis libero, at tincidunt eros. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc non nunc eros. 
                    Fusce quis euismod arcu. Suspendisse potenti. Aenean enim lacus, rhoncus ut blandit nec, gravida at lacus. 
                    Nunc quis turpis ut nibh molestie vulputate. Integer vitae ligula in mauris varius dignissim ut ut tellus. 
                    Aliquam erat volutpat. Donec ut elit feugiat sem suscipit posuere a ut ex.
                </p>
            </div>

            <div class="box-divisioria-tres">
                <p>
                    <b>Paragráfo Div 3</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nulla a sapien consectetur imperdiet vel at dolor. 
                    Curabitur in aliquet tortor. Nunc et nibh congue, tincidunt odio ut, aliquam velit. Mauris at mollis libero, at tincidunt eros. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc non nunc eros. 
                    Fusce quis euismod arcu. Suspendisse potenti. Aenean enim lacus, rhoncus ut blandit nec, gravida at lacus. 
                    Nunc quis turpis ut nibh molestie vulputate. Integer vitae ligula in mauris varius dignissim ut ut tellus. 
                    Aliquam erat volutpat. Donec ut elit feugiat sem suscipit posuere a ut ex.
                </p>
            </div>
        </div>
        <a href="/home">Home</a>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>

    
</body>
</html>
