<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Home</title>
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
</head>
<body>
    <h1>Home</h1>
    <p>
        <b>Lorem Ipsum</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nulla a sapien consectetur imperdiet vel at dolor. 
        Curabitur in aliquet tortor. Nunc et nibh congue, tincidunt odio ut, aliquam velit. Mauris at mollis libero, at tincidunt eros. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc non nunc eros. 
        Fusce quis euismod arcu. Suspendisse potenti. Aenean enim lacus, rhoncus ut blandit nec, gravida at lacus. 
        Nunc quis turpis ut nibh molestie vulputate. Integer vitae ligula in mauris varius dignissim ut ut tellus. 
        Aliquam erat volutpat. Donec ut elit feugiat sem suscipit posuere a ut ex.
    </p>

    <a href="/historia">História</a>
    <a href="/exercicio">Exercicio 01</a>

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>

</body>
</html>
